<nav class="navbar navbar-default" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <div class="navbar-header">
        <img class="navbar-brand" src="/assets/img/shopping.jpg" width="50" height="50" alt="">
        <a class="navbar-brand" href="#" [routerLink]="['']">
            <header >Shopping List App</header>
        </a>
      </div>
      <ul (click)="clickItem($event)" class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/shoppingList']">Shopping List</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/receipes']">Recipes</a></li>
      </ul>
      <ul class="nav navbar-nav float-right dropdown">
        <li class="nav-item dropdown">
          <a (click)="collapse = !collapse" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
        </li>
        <app-dropdown *appDropdown="collapse" class="dropdown-content" aria-labelledby="dropdownMenuButton" [dropDownItem] = "dpItems"></app-dropdown>
      </ul>
    </div>
</nav>


