<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="editShoppingForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name"> Name</label>
                    <!-- #EditName for viewchild approach-->
                    <input type="text" id="name" class="form-control" formControlName="name" #EditName>
                    <ng-container *ngIf="!this.editShoppingForm.get('name').valid && this.editShoppingForm.get('name').touched">
                        <ng-container [ngTemplateOutlet]="invalidBlock" [ngTemplateOutletContext]="ctx"></ng-container>
                    </ng-container>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount"> Amount</label>
                    <!-- #EditAmount for viewchild approach-->
                    <input type="number" id="amount" class="form-control" formControlName="amount">
                    <ng-container *ngIf="!this.editShoppingForm.get('amount').valid && this.editShoppingForm.get('amount').touched">
                        <ng-container [ngTemplateOutlet]="invalidBlockAmount" [ngTemplateOutletContext]="ctx"></ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">add</button>
                    <button class="btn btn-danger" type="button" >delete</button>
                    <button class="btn btn-primary" type="button">clear</button>
                </div>
            </div>
        </form>
    </div>
</div>


<ng-template #invalidBlock let-inputString='labelName'>
    <span class="help-block">
        please enter a valid {{inputString}}
    </span>
</ng-template>

<ng-template #invalidBlockAmount let-inputString='labelAmount'>
    <span class="help-block">
        please enter a valid {{inputString}}
    </span>
</ng-template>